body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.note {
    text-align: left;
}


.card {
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    font-weight: bold;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e0e0e0;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header i {
    cursor: pointer;
    margin-left: 10px;
    font-size: 1.1rem;
    color: #6c757d;
}

.card-header i:hover {
    color: #198754;
}

.card-body {
    padding: 1rem;
}



.chart-card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 1rem;
}

.bi {
    cursor: pointer;
    font-size: 1.25rem;
    margin-left: 0.5rem;
}

.blurred {
    filter: blur(4px);
}

/* card 3 */

.text-danger span, .text-success span {
    vertical-align: middle;
}

.legend-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}


.chat-content {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin-bottom: 10px;
}


